* {
 padding: 0px;
 margin: 0px;
}
.head{
    display: flex;
    width: 100%;
    background-color:rgb(14, 122, 217);
}
.logo{

    padding: 10px;
    margin: 10px;
    width: 10%;
}
.profile{
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
}
.head-1 ul{
    display: flex;
    background-color: rgb(53, 49, 195);
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style: none;
   
}
.body{
    background-color: azure;
    min-width:100px ;
}
.container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.box1{
    padding: 10px;
    margin: 10px;
    width: 15%;
    background-color: rgb(55, 89, 173);
}
.box2{
    padding: 10px;
    margin: 10px;
    width: 15%;
    background-color: rgb(24, 200, 227);
}
.box3{
    padding: 10px;
    margin: 10px;
    width: 15%;
    background-color: rgb(228, 86, 73);
}
.box4{
    padding: 10px;
    margin: 10px;
    width: 15%;
    background-color: rgb(202, 94, 27);
}
.para{
 /*   display: flex;
    flex: shrink;*/
    align-items: center;
    background-color:white;
    padding: 10px;
    margin: 10px;
}