* {
    margin:0px;
    padding: 0px;
}
.login-container{
    display: flex;
    height: 100vh;
    background-color: rgb(64, 64, 194);
    align-items: center;
    justify-content: center;
   
}
.login-card{
    height: 50%;
    width:30%;
    background-color: azure;
   
    margin: 0px;
}
.login-card h2{
    padding: 0px;
    margin:20px;
    font-size:30px;
}
.login-heading{
    margin:0px;
    padding:0px;

}
.login-heading p{
    margin:20px;
    padding:0px;
    justify-content: center;
}

.login-form{
    padding: 0px;
    margin:20px;
    
    
}
.form-group{
    padding: 0px;
    margin:0px;
   
}

.form-label{
    display: block;
   font-weight: bold;
   font-size: large;
    width: 20px;
   padding: 10px;
   margin:0px;
   padding-left: 0px;
}
.input-form{
    padding: 10px;
    margin: 0px;
    width: 50vh;
}
.form-password{
    padding: 0px;
    margin: 0px;
}
.form-label{
    display: block;
    padding: 10px;
    margin: 0px;
    font-size: 20;
    padding-left: 0px;
    font-weight: bold;
}
.input-form{
    padding: 10px;
    margin: 0px;
    width: 50vh;
}

.btn{
    text-align: center;
    padding: 10px;
    margin: 40px;
    background-color: green;
    width: 50vh;
    margin-left: -0px;
}


.btn:hover{
    background-color:aqua;
    cursor: pointer;
}


