*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    padding: 8px 25px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
}