* {
    margin:0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-img{
    background-image: url("login-bg.jpg");
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  
    background-size: cover;
    flex-direction: column;
}
.logo{
    display: flex;
    height: 30px;
    align-items: center;
    padding-bottom: 25px;
}
.login-card{
    border: 1px solid #ccc;
    padding: 25px;
    width: 350px;
    height:auto;
    background-color: white;
}
.login-card-header p{
    padding: 0px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.data-entry{
    display:flex;
    width:100%;
    flex-direction: column;
    gap: 20px;
}

label{
    font-weight: bold;
}
input{
    padding: 10px;
    height: 15px;
}

.btn{
    display: flex;
    padding: 20px 0px 20px 0px;
    border-style: none;
    height: 20px;
    background-color: #3cb44c;
    color: white;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: rgb(205, 109, 50);
    cursor: pointer;
}